body {
  background-color: rgb(110, 116, 126);
}

.App {
  color: rgb(37, 37, 37);
  text-align: center;
  margin: auto;
  max-width: 65%;
  font-size: 20px;
}

.movieDetail {
  margin: auto;
  max-width: 75%;
  padding: 20px;
  background-color: rgb(204, 231, 221);
}

.btn {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
}
